table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: @rendered_html_border_color;
    font-size: 0.85rem;
    table-layout: fixed;
    font-family: 'Roboto Mono', Courier, monospace;
    background: white;
}
thead {
    border-bottom: 1px solid @rendered_html_border_color;
    vertical-align: bottom;
}
tr, th, td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: 1.0;
    white-space: nowrap;
    max-width: 150px;
    overflow: visible;
    /*text-overflow: ellipsis;
    border: none;*/
}
th {
    font-weight: bold;
    color: auto;
}
tbody tr:nth-child(odd) {
    background: #f1f1f1;
}
