/* Computer Modern Font */

@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunrm-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunrm.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunrm-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunrm-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunsl-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunsl-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunsl.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunsl-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunsl-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunsl-webfont.svg#cmu_serif_extraromanslanted') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunbl-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunbl-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunbl.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunbl-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunbl-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunbl-webfont.svg#cmu_serif_extraboldslanted') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunbx-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunbx.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunbx-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunbx-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunbx-webfont.svg#cmu_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('/css/fonts/computer-modern/cmuntt.eot');
    src: url('/css/fonts/computer-modern/cmuntt.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmuntt.woff') format('woff'),
         url('/css/fonts/computer-modern/cmuntt.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmuntt.svg#cmuntt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('/css/fonts/computer-modern/cmuntb.eot');
    src: url('/css/fonts/computer-modern/cmuntb.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmuntb.woff') format('woff'),
         url('/css/fonts/computer-modern/cmuntb.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmuntb.svg#cmuntb') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('/css/fonts/computer-modern/cmunit.eot');
    src: url('/css/fonts/computer-modern/cmunit.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmunit.woff') format('woff'),
         url('/css/fonts/computer-modern/cmunit.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmunit.svg#cmunit') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('/css/fonts/computer-modern/cmuntx.eot');
    src: url('/css/fonts/computer-modern/cmuntx.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmuntx.woff') format('woff'),
         url('/css/fonts/computer-modern/cmuntx.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmuntx.svg#cmuntx') format('svg');
    font-weight: bold;
    font-style: italic;
}




html, body { height: 100%; }

body {
    font-family: "Computer Modern Serif", Georgia, serif;
    background-color: #f9f9f9;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.02rem;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Computer Modern Serif", Georgia, serif;
    padding: 0;
    margin: 5px;
}

h1 {
    font-size: 300%;
    line-height: 65px;
    font-weight: 500;
}

h2 {
    font-size: 150%;
    font-weight: 300;
}

h3 {
    font-size: 120%;
    font-weight: 300;
}

body.home h2, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

span.nav-icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.section h3 {
    font-weight: 700;
}

.section ul.no-bullets {
    list-style-type: none;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
.page-content a:visited { color: #205caa; }

.no-underline:hover {
    text-decoration: none;
}

.link-nocolor {
    color: inherit;
}

.link-nocolor:hover {
    color: inherit;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}


.full-container {
    max-width: 1200px;
    padding: 0 .5rem;
    margin: 0 auto;
}

.full-container:last-of-type {
    margin-bottom: 50px;
}

.provider-favicon {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 6px;
    margin-top: 3px;
}

.provider-text {
    float: left;
    color: rgba(0,0,0,.5);
}

.post-date {
    font-size: .75rem;
    color: rgba(0,0,0,.5);
}


#home-header {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
}

#wharton-logo {
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

#wharton-logo img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

article.post-content {
    font-size: 18px;
    letter-spacing: -0.02rem;
    line-height: 1.5;
    text-align: justify;
}

pre {
    font-family: 'Computer Modern Typewriter', Courier, monospace;
    font-size: 85%;
    line-height: 1.2;
}