html, body { height: 100%; }

body {
    font-family: "Computer Modern", Georgia, serif;
    background-color: #f9f9f9;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.02rem;
    line-height: 1.5;
    margin: 0;
    color: #333333;
}

hr {
    margin: 40px 0 30px 0;
}

a         { color: #004684; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
.page-content a:visited { color: #205caa; }

.no-underline:hover {
    text-decoration: none;
}

.link-nocolor {
    color: inherit;
}

.link-nocolor:hover {
    color: inherit;
}

nav a {
    color: black;
    opacity: .5;
}

nav a span.nav-icon {
    color: black;
}

nav a:hover, nav a:hover span.nav-icon {
    opacity: 1;
}

h1, h2, h3 {
    font-family: "Computer Modern Serif", Georgia, serif;
    padding: 0;
    margin: 5px 0;
}

h1 {
    font-size: 300%;
    line-height: 65px;
    font-weight: 500;
}

h2 {
    font-size: 150%;
    font-weight: 300;
}

h3 {
    font-size: 120%;
    font-weight: 300;
}

body.home h2, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

span.nav-icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}


body.home .home-links a {
    color: black;
    opacity: .5;
}

body.home .home-links a:hover {
    opacity: 1;
}

body.home .section {
    max-width: 700px;
    margin: 0 auto;
}

.section h3 {
    font-weight: 700;
}

.section ul.no-bullets {
    list-style-type: none;
}

.section ul.no-bullets li {
    position: relative;
}

body.category .post-li a div {
    text-align: center;
}

body.category .post-li a div img {
    width: auto;
    max-width: 100%;
    max-height: 400px;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    max-width: 700px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}


.full-container {
    max-width: 1200px;
    padding: 0 .5rem;
    margin: 0 auto;
}

.full-container:last-of-type {
    margin-bottom: 50px;
}

.provider-favicon {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    margin-top: 3px;
    position: absolute;
    left: -21px;
    top: 3px;
}

.provider-text {
    float: left;
    color: rgba(0,0,0,.5);
}

.post-date {
    font-size: .75rem;
    color: rgba(0,0,0,.5);
}


#home-header {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
}

#wharton-logo {
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

#wharton-logo img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

article.post-content {
    font-size: 20px;
    letter-spacing: -0.01rem;
    line-height: 1.5;
}

figure {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

figure img {
    max-width: 100%;
}

pre {
    font-family: 'Computer Modern Typewriter Variable', Courier, monospace;
    font-size: 85%;
    line-height: 1.2;
}

code {
    font-family: 'Computer Modern Typewriter Variable', Courier, monospace;
    font-size: inherit;
    background: #F0F0F0;
    line-height: inherit;
}

/* Responsive */
@media (max-width: 800px) {
    #wharton-logo img {
        width: 92%;
    }
    
    .full-container {
        padding: 0 15px;
    }
    .page-content h1 {
        font-size: 200%;
        line-height: 1.2;
    }
    
    .wrap {
        padding: 0 18px;
    }
    
    /* Allows imgs in padded div to be full-width */
    figure img {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat:  no-repeat;
        width: auto;      /* fallback */
        max-width: 100%;  /* fallback */
        width: calc(100% + 2em); /* modern browsers */
        max-width: 100vw;        /* assumes content is full viewport width */
        position: relative;
        left:  -1em;
        right: -1em;
    }

}
