---
layout: homepage
---

<div class="full-container" id="home-header">
    <div id="wharton-logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Penn_Wharton.svg/1024px-Penn_Wharton.svg.png">
    </div>
    <h1>Alex Miller</h1>
    <p>alexmill@wharton.upenn.edu</p>
    
    <h3>Doctoral Candidate</h3>
    <h3>Operations, Information, & Decisions Department
    <br>
    Wharton School, University of Pennsylvania
    </h3>
    
    <hr>
</div>

<div class="full-container">
    <div class="section">
        <h3>Things I'm Writing</h3>
        <ul>
            {% for post in site.categories.blog limit:10  %}
            <li>
                {% if post.source == "default" %}
                <a class="link-nocolor no-underline" href="{{ post.url }}">
                {% else %}
                <a class="link-nocolor no-underline" href="{{ post.source }}">
                {% endif %}
                    {{ post.title }}
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section">
        <h3>Podcasts I'm Listening To</h3>
        <ul>
            {% for post in site.categories.blog limit:5  %}
            {% if post.categories contains "podcasts" %}
            <li>
                <a class="link-nocolor no-underline" href="{{ post.source }}">
                    {{ post.title }}
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    | <img class="provider-favicon" src="{{ post.favicon_url }}"/>
                    <span class="provider-text">{{ post.provider_display }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="section">
        <h3>Podcasts I'm Listening To</h3>
        <ul>
            {% for post in site.categories.blog limit:10  %}
            {% if post.categories contains "articles" %}
            <li>
                <a class="link-nocolor no-underline" href="{{ post.source }}">
                    {{ post.title }}
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    | <img class="provider-favicon" src="{{ post.favicon_url }}"/>
                    <span class="provider-text">{{ post.provider_display }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


