---
layout: homepage
---

<div class="full-container" id="home-header">
    <div id="wharton-logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Penn_Wharton.svg/1024px-Penn_Wharton.svg.png">
    </div>
    <h1>Alex Miller</h1>
    <span>alexmill@wharton.upenn.edu</span>
    
    <h3 style="margin: 0;">Doctoral Candidate</h3>
    <br>
    <h3>Operations, Information, &amp; Decisions Department
    <br>
    The Wharton School, University of Pennsylvania
    </h3>
</div>

<div class="full-container" style="margin-bottom: 20px;">
    <hr>
</div

<div class="full-container">
    <div class="section">
        <h3>Things I'm Writing</h3>
        <ul>
            {% for post in site.categories.blog limit:5  %}
            <li>
                {% if post.source == "default" %}
                <a class="link-nocolor" href="{{ post.url }}">
                {% else %}
                <a class="link-nocolor" href="{{ post.source }}">
                {% endif %}
                    {{ post.title }}
                </a>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section">
        <h3>Podcasts I'm Listening To</h3>
        <ul>
            {% for post in site.categories.podcasts limit:5  %}
            <li>
                <a class="link-nocolor" href="{{ post.source }}">
                    <img class="provider-favicon" src="{{ post.favicon_url }}"/>
                    {{ post.title }}
                </a>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <!-- <span class="provider-text">{{ post.provider_display }}</span> -->
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="section">
        <h3>Things I'm Sharing</h3>
        <ul>
            {% for post in site.categories.articles limit:5  %}
            <li>
                <a class="link-nocolor" href="{{ post.source }}">
                    <img class="provider-favicon" src="{{ post.favicon_url }}"/>
                    {{ post.title }}
                </a>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <!-- <span class="provider-text">{{ post.provider_display }}</span> -->
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


