---
layout: homepage
script: "<script>if (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()) || window.matchMedia('only screen and (max-width: 760px)').matches) { $('a.pcl').each(function(e){ n = $(this).attr('href').replace('http','feed'); ; $(this).attr('href', n);  }) }</script>"
---

<div class="full-container" id="home-header">
    <div id="wharton-logo">
        <img src="/img/wharton-logo.png">
    </div>
    <h1>Alex P. Miller</h1>
    <h3 style="margin: 0;">Ph.D. Student in Information Systems</h3>
    <div class="home-links">
        <span>
            <a class="no-underline link-nocolor" href="mailto:alexmill@wharton.upenn.edu" target="_blank">{&nbsp;alexmill@wharton.upenn.edu&nbsp;}</a>
        </span>
        <span>
            <a class="no-underline link-nocolor" href="https://twitter.com/alexpmil" target="_blank">{&nbsp;@alexpmil&nbsp;}</a>
        </span>
        <span>
            <a class="no-underline link-nocolor" href="/files/alex-miller-cv.pdf" target="_blank">{&nbsp;CV&nbsp;}</a>
        </span>
    </div>
    <br>
    <h3>Operations, Information, &amp; Decisions Department
    <br>
    The Wharton School, University of Pennsylvania
    </h3>
</div>

<div style="padding: 0 25px;">
    <hr  style="max-width: 800px; margin: 0 auto;" />
</div>

<div class="full-container" style="">
    <div class="section">
        
        <h3>Research</h3>
        <!--<h3>Podcasts I'm Listening To</a> (<a class="pcl link-nocolor" href="http://alex.miller.im/feeds/podcasts/index.xml">Subscribe <img src="/img/rss512.png" style="display: inline; width: 18px; height: 18px;"></a>)</h3>-->

        <p>&nbsp;&nbsp;&nbsp;&nbsp; Working Papers:</p>
        <ul style="margin-top: 5px;">
            <li>Improving Recommender Diversity with Probabilistic Item Selection</li>
            <li>An Empirical Analysis of E-commerce A/B Testing Practices</li>
        </ul>
        
        <p>&nbsp;&nbsp;&nbsp;&nbsp; Conference Presentations</p>
        <ul style="margin-top: 5px;">
         <li>Does Data Kill Creativity? A Model of Innovation and Analytics in New Product
            Development. Wharton-INSEAD Doctoral Consortium. December 2016. Singapore.</li>
        </ul>
        
    </div>
    
    <div class="section">
        <a class="link-nocolor" href="/posts/">
            <h3>Things I'm Writing</h3>
        </a>
        <ul>
            {% for post in site.categories.blog limit:5  %}
            <li>
                {% if post.source == "default" %}
                <a class="link-nocolor" href="{{ post.url }}">
                {% else %}
                <a class="link-nocolor" href="{{ post.source }}">
                {% endif %}
                    {% if post.short_title %}{{ post.short_title }}{% else %}{{ post.title }}{% endif %}
                </a>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="section">
        <a class="link-nocolor" href="/articles/">
            <h3>Things I'm Sharing</h3>
        </a>
        
        <ul class="no-bullets">
            {% for post in site.posts limit:8  %}
                {% if post.categories contains "articles" or post.categories contains "podcasts" %}
            <li>
                <a class="link-nocolor" href="{{ post.source }}">
                    {% if post.favicon_url contains "data:" or post.favicon_url contains "/img/bullet.gif" %}
                    <img class="provider-favicon" src="{{ post.favicon_url }}"/>
                    {% else %}
                    <img class="provider-favicon" src="https://res.cloudinary.com/kollate/image/fetch/{{ post.favicon_url }}"/>
                    {% endif %}
                    {{ post.title | truncatewords:12 }}
                </a>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <!-- <span class="provider-text">{{ post.provider_display }}</span> -->
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


