    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description }}{% endif %}" />
        <link rel="shortcut icon" href="/img/favicon.ico">
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'/index.html','' }}/" />
        <link rel="stylesheet" href="/css/computer-modern.css">
        <link rel="stylesheet" href="/css/simple.css">

        {% if page.head %} {{ page.head }} {% endif %}

        {% if page.css %}<style>
            {{ page.css }}
        </style>{% endif %}
    </head>
