<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

    	{% include header.html %}

    	<div style="max-width: 700px; margin: 0 auto; padding-bottom: 75px;">
		    <div class="section">
		        <h1>{% page.header %}</h1>
		        <ul>
		            {% for post in site.categories[page.category] %}
		            <li>
		                {% if post.source == "default" %}
		                <a class="link-nocolor" href="{{ post.url }}">
		                {% else %}
		                <a class="link-nocolor" href="{{ post.source }}">
		                {% endif %}
		                	<div style="width: 100%">
		                	{% if post.thumbnail %}
		                		<div style="float: left; width: 20%; max-height: 150px;">
		                			<img src="{{ post.thumbnail }}" style="width: 100%;">
		                		</div>
		                		<div style="width: 80%;">
		                	{% else %}
		                		<div style="width: 100%;">
		                	{% endif %}
		                    		<h2>{{ post.title }}</h2>
		                    	</div>
		                   	</div>
		                </a>
		                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		            </li>
		            {% endfor %}
		        </ul>
		    </div>
		    
        {% include footer.html %}
    </body>
</html>
