<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

    	{% include header.html %}

    	<div style="max-width: 700px; margin: 0 auto; padding-bottom: 75px;">
		    <div class="section">
		        <h1 style="font-size: 200%;">{{ page.header }}</h1>
		        <ul class="no-bullets">
		            {% for post in site.categories[page.category] %}
		            <li>
		            	<hr>
		                {% if post.source == "default" %}
		                <a class="link-nocolor" href="{{ post.url }}">
		                {% else %}
		                <a class="link-nocolor" href="{{ post.source }}">
		                {% endif %}
		                	{% if post.thumbnail %}
		                		<div style="float: left; width: 100%; max-height: 300px; margin: 0 auto; padding: 20px 0;">
		                			<img src="{{ post.thumbnail }}" style="width: 100%;">
		                		</div>
		                	{% else %}
		                	{% endif %}
		                    <h2>{{ post.title }}</h2>
		                </a>
		                <span class="post-date" style="font-size: 1rem;">{{ post.date | date: "%b %-d, %Y" }}</span>
		            </li>
		            {% endfor %}
		        </ul>
		    </div>
		</div>
		    
        {% include footer.html %}
    </body>
</html>
