<!DOCTYPE html>
<html>
    {% include head.html %}

    <body class="category">

    	{% include header.html %}

    	<div style="max-width: 700px; margin: 0 auto; padding-bottom: 75px;">
		    <div class="section">
		        <h1 style="font-size: 200%; text-align: center;">{{ page.header }}</h1>
		        <ul class="no-bullets" style="padding: 0 20px;">
		            {% for post in site.categories[page.category] %}
		            <li class="post-li">
		            	<hr>
		                {% if post.source == "default" %}
		                <a class="link-nocolor" href="{{ post.url }}">
		                {% else %}
		                <a class="link-nocolor" href="{{ post.source }}">
		                {% endif %}
		                	{% if post.thumbnail != blank %}
		                		<div style="float: left; width: 100%; margin: 0 auto; padding: 20px 0;">
		                			{% if post.thumbnail contains "https://" %}
							<img src="{{ post.thumbnail }}">
							{% else %}
							<img src="https://res.cloudinary.com/kollate/image/fetch/{{ post.thumbnail }}">
							{% endif %}
		                		</div>
		                	{% else if post.hero_image != blank %}
		                		<div style="float: left; width: 100%; margin: 0 auto; padding: 20px 0;">
		                			{% if post.hero_image contains "https://" %}
							<img src="{{ post.hero_image }}">
							{% else %}
							<img src="https://res.cloudinary.com/kollate/image/fetch/{{ post.hero_image }}">
							{% endif %}
		                		</div>
		                	{% endif %}
		                    <h2>{{ post.title }}</h2>
		                </a>
		                <span class="post-date" style="font-size: 1rem; margin-left: 5px;">{{ post.date | date: "%b %-d, %Y" }}</span>
		            </li>
		            {% endfor %}
		        </ul>
		        <hr>
		    </div>
		</div>
        {% include footer.html %}
    </body>
</html>
