<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{% if page.title %} {{ page.title }} {% else %}Alex Miller's Website{% endif %}</title>
  <description>{% if page.description %} {{ page.description }} {% else %}Feed of Alex Miller's Website.{% endif %}</description>
  <link>{{ site.url }}</link>
  <atom:link href="{{ site.url }}/feeds/{{page.category_directory}}/index.xml" rel="self" type="application/rss+xml" />
{% if page.category == none %} 
  {% for post in site.posts limit:20 %} 
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <description>{{ post.content | xml_escape }}</description>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
      <link>{% if post.source == "default" %} {{ site.url }}/{{ post.url }} {% else %} {{post.source}} {% endif %}</link>
      <guid isPermaLink="true">{% if post.source == "default" %} {{ site.url }}/{{ post.url }} {% else %} {{post.source}} {% endif %}</guid>
    </item>
  {% endfor %}
{% else %}
  {% for post in site.posts[page.category] limit:20 %} 
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <description>{{ post.content | xml_escape }}</description>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
      <link>{% if post.source == "default" %} {{ site.url }}/{{ post.url }} {% else %} {{post.source}} {% endif %}</link>
      <guid isPermaLink="true">{% if post.source == "default" %} {{ site.url }}/{{ post.url }} {% else %} {{post.source}} {% endif %}</guid>
    </item>
{% endif %}
  
</channel>
</rss>
