<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <div class="page-content">
            <header class="post-header">
                <h1>{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}</h1>
                <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% else %} {% if page.description %} • {{ page.description }}{% endif %}{% endif %}</p>
                {% if page.hero_image %}
                <figure>
                    <img class="hero-image" src="{{ page.hero_image }}">
                </figure>
                {% else %}
                <hr/>
                {% endif %}
            </header>
            <div class="wrap">
                <div class="post">
                    <article class="post-content">
                    {{ content }}
                    </article>
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        {% if page.script %}
        {{ page.script }}
        {% endif %}
        
    </body>
</html>

