<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
    <channel>
        <link>http://alex.miller.im/product-hunt/podcast-rss-atom-itunes-feed/</link>
        <language>en-us</language>
        <copyright>&#xA9;2013</copyright>
        <webMaster>alex@miler.im (Alex Miller)</webMaster>
        <managingEditor>alex@miler.im (Alex Miller)</managingEditor>
        <image>
            <url>http://alex.miller.im/img/mdIconsThumbnail.jpg</url>
            <title>Alex Miller</title>
            <link>http://alex.miller.im</link>
        </image>
        <itunes:owner>
            <itunes:name>Alex Miller</itunes:name>
            <itunes:email>alex@miller.im</itunes:email>
        </itunes:owner>
        <itunes:category text="Technology"></itunes:category>
        <itunes:keywords>product,hunt,podcast,feed,top,posts,submission</itunes:keywords>
        <itunes:explicit>no</itunes:explicit>
        <itunes:image href="http://alex.miller.im/img/mdIconsThumbnail.jpg" />
        <atom:link href="/podcast-rss-atom-itunes-feed/top{{ page.daily_limit }}.xml" rel="self" type="application/rss+xml" />
        <pubDate>Mon, 11 Jan 2016 00:00:00 EST</pubDate>
        <title>Product Hunt Daily Top {{ page.daily_limit }}</title>
        <itunes:author>Product Hunt</itunes:author>
        <description>desc</description>
        <itunes:summary>desc</itunes:summary>
        <itunes:subtitle>desc</itunes:subtitle>
        <lastBuildDate>Thu, 02 Feb 2012 00:00:00 EST</lastBuildDate>
        {% for post in site.categories.producthunt limit:100 %} 
            {% for episode in post.episodes limit:page.daily_limit %} 
        <item>
            <title>{{ post.date | date: "%-m/%-d" }} &#35;{{ episode.index }} (&#x25B2; {{ episode.votes_count }}) | {{ episode.name | xml_escape }}</title>
            <description>{{ episode.tagline | xml_escape }}</description>
            <itunes:summary>
                <![CDATA[{{ episode.tagline | xml_escape }} <br/>
                Discussion: {{ episode.comments_count}} comments (<a href="{{ episode.discussion_shortlink }}">LINK</a>)]]>
            </itunes:summary>
            <itunes:subtitle>{{ episode.tagline | xml_escape }}</itunes:subtitle>
            <pubDate>{{ post.date | date: "%a, %d %b %Y" }} 05:00:00 GMT</pubDate>
            <enclosure url="{{ episode.mp3_shortlink | xml_escape }}" type="audio/mpeg" length="1" />
            <link>{{ episode.mp3_shortlink | xml_escape }}</link>
            <guid isPermaLink="true">{{ episode.mp3_shortlink | xml_escape }}</guid>
        </item>
            {% endfor %}
        {% endfor %}
    </channel>
</rss>
