/* Computer Modern Font */

@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunrm-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunrm.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunrm-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunrm-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunsl-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunsl-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunsl.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunsl-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunsl-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunsl-webfont.svg#cmu_serif_extraromanslanted') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunbl-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunbl-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunbl.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunbl-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunbl-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunbl-webfont.svg#cmu_serif_extraboldslanted') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url('/css/fonts/computer-modern/cmunbx-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunbx.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunbx-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunbx-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunbx-webfont.svg#cmu_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern";
    src: url('/css/fonts/computer-modern/cmunss-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunss-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunss.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunss-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunss-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunss-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern";
    src: url('/css/fonts/computer-modern/cmunsi-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunsi-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunsi.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunsi-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunsi-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunsi-webfont.svg#cmu_serif_extraromanslanted') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern";
    src: url('/css/fonts/computer-modern/cmunsxo-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunsxo-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunsxo.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunsxo-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunsxo-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunsxo-webfont.svg#cmu_serif_extraboldslanted') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern";
    src: url('/css/fonts/computer-modern/cmunsx-webfont.eot');
    src: url('/css/fonts/computer-modern/cmunsx-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/computer-modern/cmunsx.otf') format('opentype'),
    url('/css/fonts/computer-modern/cmunsx-webfont.woff') format('woff'),
    url('/css/fonts/computer-modern/cmunsx-webfont.ttf') format('truetype'),
    url('/css/fonts/computer-modern/cmunsx-webfont.svg#cmu_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter Variable';
    src: url('/css/fonts/computer-modern/cmunvt.eot');
    src: url('/css/fonts/computer-modern/cmunvt.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmunvt.woff') format('woff'),
         url('/css/fonts/computer-modern/cmunvt.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmunvt.svg#cmuntt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter Variable';
    src: url('/css/fonts/computer-modern/cmunvi.eot');
    src: url('/css/fonts/computer-modern/cmunvi.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/computer-modern/cmunvi.woff') format('woff'),
         url('/css/fonts/computer-modern/cmunvi.ttf') format('truetype'),
         url('/css/fonts/computer-modern/cmunvi.svg#cmunvi') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/css/fonts/computer-modern/cmunbmr.eot');
	src: url('/css/fonts/computer-modern/cmunbmr.eot?#iefix') format('embedded-opentype'),
		 url('/css/fonts/computer-modern/cmunbmr.woff') format('woff'),
		 url('/css/fonts/computer-modern/cmunbmr.ttf') format('truetype'),
		 url('/css/fonts/computer-modern/cmunbmr.svg#cmunbmr') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/css/fonts/computer-modern/cmunbbx.eot');
	src: url('/css/fonts/computer-modern/cmunbbx.eot?#iefix') format('embedded-opentype'),
		 url('/css/fonts/computer-modern/cmunbbx.woff') format('woff'),
		 url('/css/fonts/computer-modern/cmunbbx.ttf') format('truetype'),
		 url('/css/fonts/computer-modern/cmunbbx.svg#cmunbbx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/css/fonts/computer-modern/cmunbmo.eot');
	src: url('/css/fonts/computer-modern/cmunbmo.eot?#iefix') format('embedded-opentype'),
		 url('/css/fonts/computer-modern/cmunbmo.woff') format('woff'),
		 url('/css/fonts/computer-modern/cmunbmo.ttf') format('truetype'),
		 url('/css/fonts/computer-modern/cmunbmo.svg#cmunbmo') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('/css/fonts/computer-modern/cmunbxo.eot');
	src: url('/css/fonts/computer-modern/cmunbxo.eot?#iefix') format('embedded-opentype'),
		 url('/css/fonts/computer-modern/cmunbxo.woff') format('woff'),
		 url('/css/fonts/computer-modern/cmunbxo.ttf') format('truetype'),
		 url('/css/fonts/computer-modern/cmunbxo.svg#cmunbxo') format('svg');
	font-weight: bold;
	font-style: italic;
}




